body{
    background-color: rgb(253, 253, 253);
}
.logo-login{
    width: 40px;
    border-radius: 20px;
}
.logo-titulo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 0.1px;
    text-shadow: 2px 2px 4px  white;
    letter-spacing: 0.1px;
    /*text-align: center;*/
    font-size: 30px;
    color: rgb(65, 59, 59);    
}
/*md julio, web rx , carpetas casos y blog*/
.titulo h1 {
    font-size: 38px;
    text-align: center;
    font-family: sans-serif;
    padding: 15px;
    text-shadow: 5px 5px 10px;
}

.web-titulo {
    font-size: 25px;
    text-align: center;
    text-shadow: 5px 5px 10px;
}

/*md julio, web rx , carpetas casos y blog*/

.card {
    margin-top: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.1);

}